.blogs {
  padding: 35px 30px;

  height: 100vh;

  position: relative;
}

.blogs__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  margin-top: 10px;
}

.blogs h2 {
  text-align: center;
  margin: 0;
}

.blog {
  width: 200px;

  margin-top: 20px;
}

.blog h5 {
  text-align: center;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog__content {
  height: 100px;

  border: 1px solid #000000;

  background-color: #fff;
  overflow: hidden;
}

.blog__btn {
  width: 100%;
  background-color: #1bc5ff;
  margin-top: 10px;
  cursor: pointer;

}

.blog__add {
  background-color: #1bc5ff;

  float: right;
  cursor: pointer;

  margin-top: 40px;
}


.blogs__modal {
  width: 400px;
  height: 250px;
  border: 1px solid #000000;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate3d(-50%,-50%,0);

  background-color: #ffffff;
}

.blogs__modal {
  display: flex;
  flex-direction: column;

  padding: 15px;

  background-color: #e7e6e6;
}

.blogs__modal-input {
  margin: 10px 0;
}

.blogs__modal-input--content {
  height: 150px;
}
